extends layout

block game

  h2
    =message
  hr
  if coins < 1 || room == ''
    include lobby
  else
    include roulette
    script(src='/js/events.js', type='text/javascript')
    hr
    div Say something: 
    form(id = 'chatform')
      input(name = 'fchat', id = 'fchat', type = 'text')
      input(type = 'Submit', value = 'Send')
    div(id = 'wsmessages') Messages:
    script(src='/js/chat.js', type='text/javascript')
  a(href = '/logout/') Log out

