div(class = 'lobby') Lobby
  form(action = routes.public.processlobby.url, method = routes.public.processlobby.method)
    label(for = 'room') Select room: 
    select(name='room')
      option
      each room in rooms
        option(value=room)= room
    label(for = 'coins') Enter coins: 
    input(name = 'coins', type = 'text', value = '')
    input(type = 'submit', value = 'Enter game')

